*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.jks
*.keystore
*/build/
app/release/
app/debug/
/.idea/modules.xml
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/contentModel.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/usage.statistics.xml
.idea/**/dataSources/
.idea/replstate.xml
.idea/httpRequests
/app/src/main/assets/bundled_songs/